/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*end fonts*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    color: #6f7d95;
    font-size: 13px;
    font-family: 'RobotoRegular', sans-serif;
    margin: 0;
}
img {
    vertical-align: middle;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
p {
    margin: 0 0 10px;
    word-wrap: break-word;
}
ul {
    padding: 0px;
    margin: 0px;
    list-style: outside none none;
}
a {
    outline: none;
    text-decoration: none!important;
    color: #15a4fa;
}
a:hover, a:focus {
    color: #2a6496;
}
.lr15 {
    padding-left: 15px;
    padding-right: 15px;
}
.col16 {
    width: 16.66666667%;
}
.col66 {
    width: 66.66666667%;
}
.col33 {
    width: 33.33333333%;
}
.col100 {
    width: 100%;
}
.col50 {
    width: 50%;
}
.col16, .col66, .col100, .col50, .lr15 {
    position: relative;
    min-height: 1px;
}
#header>div, #menu>div, .fl {
    float: left;
}
#header {
    background: #2f364a;
    min-height: 80px;
}
#logo {
    max-height: 80px;
    line-height: 80px;
    padding-left: 20px;
}
#logo>a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
}
#menu {
    vertical-align: top;
}
.search_wrapper {
    margin-top: 23px;
    margin-right: 20px;
}
.search_wrapper input,
.sort_polls ul li a {
    color: #8c97b2;
}
.search_wrapper input {
    width: 350px;
    height: 32px;
    letter-spacing: 1.5px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    padding-left: 15px;
    outline: none;
    border: 1px solid rgba(140,151,178,.4);
    -moz-border-radius: 16px/ 15px;
    -webkit-border-radius: 16px / 15px;
    border-radius: 16px / 15px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.search_wrapper:hover input,
.search_wrapper input:active,
.search_wrapper input:focus{
    width: 400px;
}
#header_search {
    position: relative;
}
#header_search i {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #8b97b1;
}
#menu>.header_menu {
    float: right;
    background: #19202e;
    min-height: 80px;
    text-align: center;
    margin-right: -15px;
}
.header_menu>ul {
    list-style: none;
    padding: 0;
    font-size: 0;
}
.header_menu>ul>li {
    display: inline-block;
    position: relative;
    padding: 0 15px;
    font-size: 13px;
}
.header_menu ul li a, .widget_menu ul li a{
    color: #78829d;
}
.header_menu>ul>li>a {
    display: inline-block;
    line-height: 80px;
}
.header_menu ul li a:hover {
    color: #3498db;
}
.header_menu li.menu_submenu_item:hover>i {
    transform: rotate(180deg);
}
ul.submenu {
    display: none;
    position: absolute;
    left: 0px;
    background-color: #19202E;
    z-index: 9999;
    line-height: initial;
    text-align: left;
    min-width: 100%;
    font-size: 13px;
}
li.menu_submenu_item > ul.submenu li {
    padding: 0;
}
li.menu_submenu_item:hover>ul.submenu,
li.menu_submenu_item>ul.submenu>li,
li.menu_submenu_item>ul.submenu>li a {
    display: block;
}
li.menu_submenu_item > ul.submenu>li a{
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    white-space: nowrap;
    line-height: normal;
    position: relative;
}
li.menu_submenu_item > ul.submenu li a:before {
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 4px;
    background-color: #3498DB;
    display: none;
}
li.menu_submenu_item > ul.submenu li a:hover {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1);
}
li.menu_submenu_item > ul.submenu li a:hover:before {
    display: block;
}
.menu_item {
    cursor: pointer;
}
.menu_submenu_item i {
    margin-left: 5px;
}
a.login_url {
    display: block;
    text-align: center;
    line-height: 80px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/*SIDE BAR*/
.widget a {
    text-decoration: none;
    color: #15a3f9;
    font-size: 14px;
    word-break: break-word;
}
.left_sidebar {
    border-right: 1px solid #dadfea;
    min-height: 800px;
    padding: 0;
}
.left_sidebar li.widget, .right_sidebar li.widget {
    list-style: none;
    padding: 15px;
}
.left_sidebar .widget {
    border-bottom: 1px solid #dadfea;
}
.widget_btn {
    height: 115px;
    display: block;
    padding: 35px 20px 0;
}
.create_poll {
    background: #3498db;
}
#logo>a, .create_poll{
    color: #fff;
}
.create_poll {
    width: 100%;
    height: 45px;
    border: none;
    color: #fff;
    margin-top: 30px;
    margin: 0 auto;
    display: block;
    font-weight: 700;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #3397db;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.create_poll i {
    margin-right: 5px;
    font-size: 16px;
}
.widget_menu a {
    width: 100%;
    text-decoration: none;
    padding: 10px 0 10px 16px;
    display: block;
    color: #78829d;
    border-left: 4px solid transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.widget_menu ul li a i {
    margin-right: 13px;
}
.left_sidebar ul.menu li:before {
    content: '';
}
.widget_menu ul li>a:hover {
    background: #f0f0f0;
}
.widget_menu ul li a:hover, .widget_menu ul li.current_menu_item>a {
    border-left: 4px solid #f39c12;
    background: #f0f0f0;
}
.copyright {
    padding: 20px;
    position: relative;
    bottom: 0;
}
.right_sidebar {
    min-height: 800px;
    padding: 0;
    background: #eef1f7;
}
.right_sidebar {
    background: #eef1f7;
}
.right_sidebar .widget {
    margin-top: 35px;
}
.widget_statistic ul li.polls_count {
    border-left: 4px solid #3498db;
    margin-bottom: 30px;
    line-height: .6;
}
.widget_statistic ul li {
    display: block;
}
.widget_statistic p {
    font-size: 16px;
    color: #7a838e;
    padding-left: 7px;
    margin: 0;
}
.widget_statistic ul li span {
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    display: block;
    padding-top: 16px;
}
.widget_statistic ul li.members_count {
    border-left: 4px solid #f39c12;
    line-height: .6;
}
.current_category h1,
.widget_statistic ul li span,
.widget_related_tags h3 {
    color: #2c3e50;
}
.widget_related_tags li {
    display: block;
    margin-bottom: 5px;
}
.widget_related_tags li a, .q_tag {
    background: #f3f5f9;
}
.widget_related_tags li a, .q_tag {
    border: 1px solid #d9dfe9;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #f3f5f9;
    text-decoration: none;
    color: #6f7d95;
    line-height: 20px;
    display: inline-block;
    padding: 0 10px;
    margin-right: 5px;
}
/*MAIN*/
.row {
    margin-right: 15px;
    margin-left: 15px;
    overflow: hidden;
}
.main_content {
    min-height: 800px;
    padding: 0;
}
.current_category h1 {
    font-size: 22px;
    display: block;
    margin-top: 20px;
    margin-left: 5px;
}
.filter_category label span {
    margin-right: 10px;
}
.filter_outer_wrap {
    float: right;
    margin-top: 16px;
}
.category, .poll_filter {
    border-bottom: 1px solid #dadfea;
    margin: 0;
}
.clearfix:before,
.category:before,
.row:before {
    content: " ";
    display: table;
}
.clearfix:after,
.category:after,
.row:after {
    clear: both;
}
.sort_polls ul li a.active, .sort_polls ul li a:hover {
    border-bottom: 4px solid #f39c12;
}
.sort_polls ul li {
    display: inline-block;
    margin-right: 40px;
}
.sort_polls ul li a {
    font-size: 14px;
    color: #8c97b2;
    text-decoration: none;
    display: block;
    line-height: 35px;
    margin-top: 5px;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.pagination_wrapper {
    float: right;
    margin-top: 10px;
}
#polls_list>li:nth-child(2n+1) {
    background: #fbfcff;
}
#polls_list li.poll_item {
    display: block;
    border-bottom: 1px solid #dadfea;
    padding: 20px 35px;
    position: relative;
    overflow: hidden;
}
#polls_list h2 {
    width: 100%;
    margin: 50px auto;
}
.main_polls_list .p_left_content>h2 {
    margin: 0!important;
    font-size: 16px;
    word-wrap: break-word;
}
.main_polls_list .p_content .poll_text {
    color: #6f7d95;
    font-size: 14px;
}
a.poll_title {
    color: #444c63;
}
a.poll_title {
    font-size: 16px;
    font-weight: 700;
    word-break: break-word;
}
.poll_cat span.author_avatar {
    max-width: 30px;
    margin-right: 8px;
}
.poll_cat span {
    display: inline-block;
    vertical-align: middle;
}
.poll_cat span.author_avatar img {
    max-width: 100%;
    height: auto;
}
.author_avatar img{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    max-width: 100%;
    height: auto;
}
.author_name {
    margin: 0 15px;
    color: #6f7d95;
}
.poll_cat span.user_badge {
    padding: 0 10px;
    color: #fff;
    margin-right: 15px;
    line-height: 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #00adef;
}
.main_polls_list ul.poll_statistic {
    text-align: right;
}
.main_polls_list ul.poll_statistic li {
    display: inline-block;
    text-align: center;
    margin-left: 35px;
}
.main_polls_list ul.poll_statistic li span {
    width: 46px;
    height: 46px;
    display: block;
    text-align: center;
    line-height: 3.3;
    margin-bottom: 15px;
    border: 1px solid #d9dfe9;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}